.tip {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	pointer-events: none;
	padding: 12px;
	padding-bottom: 16px;
	font-family: system-ui, sans-serif;
	font-size: clamp(0.75rem, 3.5vw, 1.25rem); 
	text-align: center;
	color: #fff;
	text-shadow: 0 0 4px #000, 0 0 20px #000;
	background-color: rgb(50 0 20 / 0.3);
}